[submodule "bitmex-inflow-outflow"]
	path = bitmex-inflow-outflow
	url = https://github.com/amberdata/bitmex-inflow-outflow.git
[submodule "market-rankings"]
	path = market-rankings
	url = https://github.com/amberdata/market-rankings.git
